<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.transescolar.transescolar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activies.HomeActivity">

        </activity>
        <activity
            android:name=".Activies.PassageirosActivity"
            android:label="Passageiros"
            android:parentActivityName=".Activies.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.transescolar.transescolar.Activies.HomeActivity" />
        </activity>
        <activity
            android:name=".Activies.AddPassActivity"
            android:label="Add Passageiros" />
        <activity
            android:name=".Activies.EscolasActivity"
            android:label="Escolas"
            android:parentActivityName=".Activies.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.transescolar.transescolar.Activies.HomeActivity" />
        </activity>
        <activity
            android:name=".Activies.PaisActivity"
            android:label="Pais"
            android:parentActivityName=".Activies.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.transescolar.transescolar.Activies.HomeActivity" />
        </activity>
        <activity
            android:name=".Activies.AddPaisActivity"
            android:label="Add Pais" />
        <activity
            android:name=".Activies.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activies.IntinerarioActivity"
            android:label="Intinerario"
            android:parentActivityName=".Activies.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.transescolar.transescolar.Activies.HomeActivity" />
        </activity>
        <activity
            android:name=".Activies.UsuarioActivity"
            android:label="Usuário"
            android:parentActivityName=".Activies.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.transescolar.transescolar.Activies.HomeActivity" />
        </activity>

        <activity
            android:name=".Activies.Login"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Activies.CadastroActivity">

        </activity>
    </application>

</manifest>